<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>DHS NoWork!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
    <script src="/stylesheets/main.js"></script>
  </head>
  
  <body>
    
    
    <!-- HOME -->
    <div data-role="page" data-theme="e" id="home">  
      
      <div data-role="header" data-theme="a" data-position="fixed">
        <a href="#" data-icon="plus" data-theme="c">New</a>
        <h1>DHS NoWork!</h1>
        <a href="#" data-theme="b">Edit</a>
        <div data-role="navbar">
          <ul>
            <li><a href="#" class="ui-body-c ui-btn-active ui-state-persist">Notifications</a></li>
            <li><a href="#homework" class="ui-body-c" data-transition="none">Homework</a></li>
          </ul>
        </div><!-- /navbar -->
      </div>
      
      <div data-role="content">  
        <p>Welcome, {{currentUserNickname}}! </p>
        
        
        <!--<div data-role="controlgroup" data-type="horizontal">-->
        <!--  <a href="#" data-role="button" data-theme="c">Yes</a>-->
        <!--  <a href="#" data-role="button">No</a>-->
        <!--  <a href="#" data-role="button">Maybe</a>-->
        <!--</div>-->
        
        <!--display list of notifications currently tied to user-->
        <ul data-role="listview" data-inset="true" data-filter="false">
            <li><a href="#">Physics Test on 24 March!</a></li>
            <li><a href="#">PCCG Lesson for 25 March to be held at Homerooms</a></li>
            <li><a href="#">2012 GCE 'A' Level results to be released on 26 March!</a></li>
        </ul>
      </div>  
      
      <div data-role="footer" data-position="fixed">  
        <div data-role="navbar" data-iconpos="top">
          <ul>
            <li><a href="#" class="ui-body-a ui-btn-active ui-state-persist" data-icon="home">Home</a></li>
            <li><a href="#groups" class="ui-body-a" data-icon="grid" data-transition="none">Groups</a></li>
            <li><a href="#about" class="ui-body-a" data-icon="info" data-transition="none">About</a></li>
          </ul>
        </div><!-- /navbar -->
      </div><!-- /footer -->
    </div><!-- page1 -->
    
    <!--NOTIFICATIONS-->
    <div data-role="page" data-theme="e" id="homework">  
      
      <div data-role="header" data-theme="a" data-position="fixed">
        <a href="#" data-icon="plus" data-theme="c">New</a>
        <h1>DHS NoWork!</h1>
        <a href="#" data-theme="b">Edit</a>
        <div data-role="navbar">
          <ul>
            <li><a href="#home" class="ui-body-c" data-transition="none">Notifications</a></li>
            <li><a href="#" class="ui-body-c ui-btn-active ui-state-persist">Homework</a></li>
          </ul>
        </div><!-- /navbar -->
      </div>
      
      <div data-role="content">  
        <p>Welcome, {{currentUserNickname}}! </p>
        <p>Here are the list of homework left for you to do!</p>
        
        
        <!--<div data-role="controlgroup" data-type="horizontal">-->
        <!--  <a href="#" data-role="button" data-theme="c">Yes</a>-->
        <!--  <a href="#" data-role="button">No</a>-->
        <!--  <a href="#" data-role="button">Maybe</a>-->
        <!--</div>-->
        
        <!--display list of notifications currently tied to user-->
        <ul data-role="listview" data-inset="true" data-filter="false">
            <li><a href="#">Friday 15 March: Save the World!</a></li>
            <li><a href="#">Satuday 16 March: Physics Tutorial</a></li>
            <li><a href="#">Wednesday 20 March: Submit PW PI :OOOO</a></li>
        </ul>
      </div>  
      
      <div data-role="footer" data-position="fixed">  
        <div data-role="navbar" data-iconpos="top">
          <ul>
            <li><a href="#" class="ui-body-a ui-btn-active ui-state-persist" data-icon="home">Home</a></li>
            <li><a href="#groups" class="ui-body-a" data-icon="grid" data-transition="none">Groups</a></li>
            <li><a href="#about" class="ui-body-a" data-icon="info" data-transition="none">About</a></li>
          </ul>
        </div><!-- /navbar -->
      </div><!-- /footer -->
    </div><!-- page1 -->
    
    
    
    <!-- GROUPS -->
    <div data-role="page" data-theme="d" id="groups" data-position="fixed">  
      
      <div data-role="header" data-theme="d">
        <a href="#" data-icon="plus" data-theme="a">New</a>
        <h1>DHS NoWork!</h1>
        <a href="#" data-theme="b">Edit</a>
      </div>
      
      <div data-role="content">  
        
      </div>  
      
      <div data-role="footer" data-position="fixed">   
        <div data-role="navbar" data-iconpos="top" data-position="fixed">
          <ul>
            <li><a href="#home" class="ui-body-a" data-icon="home" data-transition="none">Home</a></li>
            <li><a href="#" class="ui-body-a ui-btn-active ui-state-persist" data-icon="grid">Groups</a></li>
            <li><a href="#about" class="ui-body-a" data-icon="info" data-transition="none">About</a></li>
          </ul>
        </div><!-- /navbar -->
      </div><!-- /footer -->
    </div><!-- page1 -->
    
    
    
    <!-- ABOUT -->
    <div data-role="page" data-theme="c" id="about">  
      
      <div data-role="header" data-theme="b" data-position="fixed">
        <h1>DHS NoWork!</h1>
      </div>
      
      <div data-role="content">  
        <p>
          DHS NoWork! is a notification sharing centre where staff and students can create groups by adding in their classmates, and proceed to post notifications and/or homework reminders to the entire group through a very simple sharing system. To use the app, first either get your friends or teachers to add you into their group, or create a group yourself through the Add New Group Button on the top left of the group page. You can then proceed to add homework and/or notifications, which will then be pushed to all the dunmanians in the group you add.
        </p>
        <p>
          To facilitate interaction, a comment system will also be implemented where users can post questions to the rest of the group related to the homework / notification at hand, a system where the admin of the group will be able to moderate.
        </p>
        <p>
          Additional features are still constantly in development, so do please send your feedback and opinions on how good the app works! Thank You!
        </p>
        
        <!--submit feedback form-->
        
        <form action="/submitFeedback" method="post">
          <ul data-role="listview" data-inset="true" data-theme="e">
            <li data-role="fieldcontain">
              <label for="textarea">Please give me your feedback!</label>
              <textarea cols="40" rows="8" name="textarea" id="textarea" placeholder="This app is awesome! :D"></textarea>
            </li>
            <li data-role="fieldcontain">
              <label for="feedbackslider">Rate my application!</label>
              <input type="range" name="slider" id="feedbackslider" value="5" min="1" max="10" data-highlight="true">
            </li>
            <li class="ui-body ui-body-b">
              <fieldset class="ui-grid-a">
                <div class="ui-block-a"><button type="submit" data-theme="c">Cancel</button></div>
                <div class="ui-block-b"><button type="submit" data-theme="b">Submit</button></div>
              </fieldset>
            </li>
          </ul>
        </form>
        
        <p>&nbsp;</p>
        <a href="https://www.google.com/accounts/Logout?continue=nowork.dhs.sg/" data-role="button" data-theme="c">Sign Out</a>
        
        <p style="font-size:10px;">
          &copy; Justin Leow, 5C23, Dunman High School
        </p>
      </div>  
      
      <div data-role="footer" data-position="fixed">   
        <div data-role="navbar" data-iconpos="top">
          <ul>
            <li><a href="#home" class="ui-body-a" data-icon="home" data-transition="none">Home</a></li>
            <li><a href="#groups" class="ui-body-a" data-icon="grid" data-transition="none">Groups</a></li>
            <li><a href="#" class="ui-body-a ui-btn-active ui-state-persist" data-icon="info">About</a></li>
          </ul>
        </div><!-- /navbar -->
      </div><!-- /footer -->
    </div><!-- page1 -->
    
    
    
    
    <!--insert jinja2 commands here-->
    <!--{% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname() }}</b> wrote:
      {% else %}
        An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}-->
    
    <!--<form action="/sign" method="post">-->
      <!--<input type="hidden" value="{{guestbook_name}}" name="guestbook_name">-->
      <!--<div><input type="submit" value="Sign Guestbook"></div>-->
    <!--</form>-->

    <!--<a href="{{ logio}}">{{ logio_linktext }}</a>-->

  </body>
</html>